AZURE_OPENAI_ENDPOINT="https://<user-domain>.openai.azure.com/"
AZURE_OPENAI_KEY=  # ignore this if default credientials are used
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYED_MODEL_NAME=

LOG_LEVEL=INFO